/* 主页面 */

.filelist {
    width: 95%;
    background-color: #ffffff;
    text-align: left;
    margin: 0 auto;
    min-height: 810px;
}


/* 头部 */

.filelist .head {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #f2f2f2;
}

.filelist .head .title {
    font-size: 18px;
    color: #333333;
}

.filelist .head .push_btn {
    font-size: 14px;
    color: #ffffff;
}

.filelist .head .push_btn i {
    width: 110px;
    height: 36px;
    background-color: #666ee8;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.filelist .head .push_btn i:first-child {
    margin-right: 10px;
}

.filelist .head .push_btn i span {
    padding-left: 10px;
}


/* 搜索 */

.filelist .search {
    padding: 30px 20px 0;
}

.filelist .search .search_form {
    display: flex;
}

.filelist .search .search_form .classify {
    padding-right: 15px;
}

.filelist .search .search_form .classify .el-form-item__content {
    display: inline-block;
}

.filelist .search .search_form .input-with-select {
    width: 30%;
}

.filelist .search .search_form .input-with-select .el-input-group__append {
    border-left: 0;
    background: #666ee8;
    color: #fff;
    border-color: #666ee8;
}


/* 表格内容 */

.filelist .TableContent {
    padding: 0 20px;
}

.filelist .TableContent .el-table .el-table__header-wrapper .el-table__header .has-gutter tr th {
    background-color: #666ee866;
    color: #333333;
    text-align: center;
}

.filelist .TableContent .el-table .el-table__body-wrapper .el-table__body .el-table__row td {
    text-align: center;
}


/* 分页 */

.filelist .pagenum {
    text-align: right;
    padding: 20px 0;
}


/* 新增分类 */

.newlyFiles {
    width: 92%;
    background-color: #ffffff;
    text-align: left;
    margin: 0 auto;
    height: 970px;
}


/* 头部 */

.newlyFiles .head {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #f2f2f2;
}

.newlyFiles .head .title {
    font-size: 18px;
    color: #333333;
}

.newlyFiles .head .push_btn {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.newlyFiles .head .push_btn i {
    width: 110px;
    height: 36px;
    background-color: #666ee8;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
}

.newlyFiles .head .push_btn i span {
    padding-left: 10px;
}

.newlyFiles .head .push_btn .back {
    width: 111px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #666ee8;
    border: 1px solid #666ee8;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #666ee8;
    margin-left: 10px;
    font-weight: 700;
}


/* 内容 */

.newlyFiles .newlyContent {
    padding: 20px 30px;
}

.newlyFiles .newlyContent .el-table .el-table__header-wrapper .el-table__header .has-gutter tr th {
    background-color: #666ee866;
    color: #333333;
    text-align: center;
}

.newlyFiles .newlyContent .el-table .el-table__body-wrapper .el-table__body .el-table__row td {
    text-align: center;
}


/* 分页 */

.newlyFiles .pagenum {
    text-align: right;
    padding: 20px 0;
}


/* 新增分类弹框 */

.newlyFiles .newlyClassify .one_level {
    padding-left: 30px;
}

.newlyFiles .newlyClassify .foot {
    text-align: right;
}


/* 分页 */

.staffpag {
    overflow: hidden;
    margin: 20px 25px;
}

.staffpag>.block {
    float: right;
}