.addArticle_all {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    padding-bottom: 50px;
}


/* top */

.addArticle_top {
    margin-bottom: 20px;
}

.addArticle_top_div {
    overflow: hidden;
    width: 100%;
    padding: 25px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(184, 183, 183);
}

.addArticle_top_div>h5 {
    float: left;
    margin-left: 25px;
}


/* 内容 */

.addArticle_content {
    margin: 0 20px;
}

.addArticle_content>.el-form {
    overflow: hidden;
}

.addArticle_content>.el-form>.el-form-item {
    overflow: hidden;
}

.addArticle_content>.el-form .el-form-item__label {
    margin-right: 40px;
}

.addArticle_content {
    padding-bottom: 100px;
}

.addArticle_content .el-input {
    width: 30%;
    text-align: left;
    float: left;
}

.addArticle_content .el-textarea {
    width: 50%;
    float: left;
}

.addArticle_content .el-textarea .el-textarea__inner {
    width: 100%;
}

.addArticle_content .el-cascader {
    width: 30%;
    float: left;
}

.addArticle_content .el-cascader>.el-input {
    width: 100%;
}

.addArticle_content .el-textarea__inner {
    width: 40%;
}

.addArticle_content .el-radio-group {
    float: left;
    line-height: 50px;
}

.addArticle_content .upload-demo {
    float: left;
}

.addArticle_content>.el-form .el-button {
    background: #fff;
    color: #515A6E;
    border-color: rgba(220, 222, 226, 1);
}

.addArticle_content .el-switch {
    float: left;
    display: block;
    line-height: 40px;
}


/* 底部 */

.addArticle_bottom {
    width: 100%;
    height: 40px;
    bottom: 20px;
    position: absolute;
    display: block;
}

.addArticle_bottom_stlye {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 -1px 4px #b2b3b6;
    padding: 15px;
    position: fixed;
    margin-left: 100px;
    margin-bottom: 0;
}

.addArticle_bottom_stlye>button {
    float: right;
    margin-left: 20px;
}

.addArticle_bottom_stlye>button:last-child {
    color: #fff;
    background: #666ee8;
    border-color: #666ee8;
}