.category_all {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    padding-bottom: 50px;
    color: #606266;
}

/* 头部样式 */
.category_top {
    padding: 20px 15px;
    overflow: hidden;
}

.category_top_left {
    float: left;
}

.category_top_right {
    float: right;
}
.category_top_right >.el-button{
    background: #666ee8;
}
.category_top_right>.el-select {
    margin-right: 5px;
}

.category_hr {
    margin: 0 15px 20px;
    font-weight: 400;
    background-color: #e6e0e0;
    border: none;
    height: 2px;

}

/* 选择筛选部分样式 */
.category_screen {
    /* display: flex;
    justify-content: space-around; */
    overflow: hidden;
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.category_screen p {
    float: left;
    font-size: 12px;
    line-height: 32px;
}

/* 筛选投诉类别样式 */
.category_screen .el-input {
    margin-left: 4px;
    height: 32px;
}

.category_screen .el-input__inner {
    margin-left: 4px;
    height: 32px;
}

.category_screen .el-input--suffix .el-input__inner {
    /* width: 120px !important; */
    margin-left: 4px;
    height: 32px;
}

.category_screen .el-input__icon {
    height: 116%;
}

/* one */
.category_screen_one {
    float: left;


}

/* two */
.category_screen_two {
    float: left;
}

/* three */
.category_screen_three {
    float: left;
}

/* four */
.category_screen_four {
    float: left;
}

.category_screen_four .el-date-editor .el-input,
.el-date-editor.el-input__inner {
    width: 240px;
}

.category_screen>.el-button {
    float: left;
    height: 32px;
    background: #666ee8;
}

/* 图部分 */
.category_chart {
    margin-bottom: 20px;
    margin: 0 20px;
    margin-bottom: 20px;
    /* background: #f00; */
    overflow: hidden;
}
#main1{
    width: 55%;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    border-radius: 5px;
    float: left;
   margin: 10px;
}
#main2{
    width: 40%;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    border-radius: 5px;
    float: right;
    margin: 10px;
}
/* 统计表格部分 */
.category_statistics {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    margin: 0 30px;
    margin-bottom: 50px;
    overflow: hidden;
}

.category_statistics_top {

    float: left;
    padding: 20px;
}

.category_statistics_top>h6 {
    font-weight: 600;
}
.category_statistics_table{
    margin-bottom: 35px;
}
.category_statistics_table .el-table th{
    background-color: #666EE866;
    color: #515A6E;
}
.category_statistics_table .el-table td,
.el-table th {
    text-align: center;

}
.category_statistics_paging{
    float: right;
    margin-bottom: 20px;
}