.connent_all {
    width: 100%;
    min-height: 750px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    padding-bottom: 50px;
}


/* 头部样式 */

.connent_top {
    overflow: hidden;
    padding: 25px 15px;
    /* text-decoration:underline  */
}

.connent_top_left {
    float: left;
}

.connent_top_left>h6 {
    color: #666EE8;
}

.connent_top_right {
    float: right;
}

.connent_top_right>.el-button:first-child {
    color: #fff;
    border-color: #666EE8;
    background-color: #666EE8;
}

.connent_Tableall>.seach>.block>.el-button {
    color: #fff;
    border-color: #666EE8;
    background-color: #666EE8;
}

.connent_hr {
    margin: 0 20px;
    width: 97%;
    height: 2px;
    background-color: #ebe9e9;
    border: none;
    margin-bottom: 20px;
}


/* 表单样式 */

.connent_Tableall {
    margin: 0 15px;
    overflow: hidden;
}


/* 表单搜索样式 */

.connent_Tableall .seach {
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
}

.connent_Tableall .block>.el-input {
    margin-right: 15px;
    margin-left: 15px;
}

.connent_Tableall .block {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.connent_Tableall .seach>p {
    float: left;
    font-size: 12px;
    color: #606266;
    margin-right: 10px;
    line-height: 40px;
}

.connent_Tableall .el-input {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}


/* 表单表格样式 */

.connent_myTable {
    /* padding-bottom: 50px; */
    margin-bottom: 30px;
}

.connent_myTable .el-table th {
    color: #000;
    background-color: #666EE866
}

.connent_myTable .el-table td,
.el-table th {
    text-align: center !important;
}

.connent_myTable .el-table .el-link {
    font-size: 10px;
    padding-left: 8px;
    padding-right: 10px;
}


/* 分页 */

.connent_paging {
    overflow: hidden;
    margin: 0 15px;
}

.connent_paging>.block {
    float: right;
}

.connent_paging .el-input {
    display: inline-block;
}