<div data-v-e510a928="" class="el-table el-table--fit el-table--border el-table--enable-row-transition" style="width: 100%; margin-bottom: 20px;">
    <div class="el-table__header-wrapper">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 1085px;">
            <colgroup>
                <col name="el-table_10_column_81" width="55">
                <col name="el-table_10_column_82" width="55">
                <col name="el-table_10_column_83" width="180">
                <col name="el-table_10_column_84" width="101">
                <col name="el-table_10_column_85" width="98">
                <col name="el-table_10_column_86" width="98">
                <col name="el-table_10_column_87" width="98">
                <col name="el-table_10_column_88" width="400">
                <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
                <tr class="">
                    <th colspan="1" rowspan="1" class="el-table_10_column_81   el-table-column--selection  is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell"><label class="el-checkbox"><span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value=""></span><!----></label></div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_82     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">排序</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_83     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">名称</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_84     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">左侧图标</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_85     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">接口地址</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_86     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">前端路由</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_87     is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">角色状态</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_10_column_88     is-hidden is-leaf" style="background: rgb(194, 197, 246); color: rgb(0, 0, 0);">
                        <div class="cell">操作</div>
                    </th>
                    <th class="gutter" style="width: 0px; display: none;"></th>
                </tr>
            </thead>
        </table>
    </div>



    <div class="el-table__body-wrapper is-scrolling-none">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 1085px;">
            <colgroup>
                <col name="el-table_10_column_81" width="55">
                <col name="el-table_10_column_82" width="55">
                <col name="el-table_10_column_83" width="180">
                <col name="el-table_10_column_84" width="101">
                <col name="el-table_10_column_85" width="98">
                <col name="el-table_10_column_86" width="98">
                <col name="el-table_10_column_87" width="98">
                <col name="el-table_10_column_88" width="400">
            </colgroup>
            <tbody>
                <tr class="el-table__row el-table__row--level-0">
                    <td rowspan="1" colspan="1" class="el-table_10_column_81  el-table-column--selection">
                        <div class="cell"><label class="el-checkbox"><span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value=""></span><!----></label></div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_82  ">
                        <div class="cell">1</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_83  ">
                        <div class="cell">
                            <div class="el-table__expand-icon el-table__expand-icon--expanded"><i class="el-icon-arrow-right"></i></div>首页</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_84  ">
                        <div class="cell">el-icon-s-help</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_85  ">
                        <div class="cell">#</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_86  ">
                        <div class="cell">#</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_87  ">
                        <div class="cell">
                            <div data-v-e510a928="" role="switch" aria-checked="true" class="el-switch is-checked"><input type="checkbox" name="" true-value="1" false-value="0" class="el-switch__input">
                                <!----><span class="el-switch__core" style="width: 40px; border-color: rgb(2, 83, 140); background-color: rgb(2, 83, 140);"></span>
                                <!---->
                            </div>
                        </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_10_column_88   is-hidden">
                        <div class="cell"><button data-v-e510a928="" type="button" class="el-button el-button--text el-button--small"><!----><!----><span>添加子级</span></button><button data-v-e510a928="" type="button" class="el-button el-button--text el-button--small"><!----><!----><span>编辑</span></button>
                            <button data-v-e510a928="" type="button" class="el-button el-button--text el-button--small">
                                <!---->
                                <!----><span>删除</span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>