* {
    padding: 0;
    margin: 0;
}

.accountalBg {
    background-color: #fff;
    height: 65%;
    margin-left: -20px;
    width: 81%;
}

.accountF {
    display: flex;
    margin-left: 2%;
    height: 80%;
    margin-top: 7%;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.accountTab {
    width: 90%;
    height: 60%;
    border-collapse: collapse;
}

.accountTd {
    border-bottom: #ccc 2px solid;
}

.accountTddiv {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    margin-left: 10px;
}

.accountHead {
    color: #ccc;
    font-size: 14px;
    height: 30px;
}

.accountMain {
    margin-left: 10px;
    color: #000;
    font-size: 12px;
}

.accountClick {
    color: #409eff;
    font-size: 14px;
    margin-right: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* 身份验证 */


/* .account-change-bindphone {
    text-align: left;
    padding-top: 2vw;
    font-size: 20px;
    padding-left: 45px;
} */

.account-change-bindphone2 {
    font-size: 13px;
    padding-left: 45px;
}

.account-change-phoneaccount {
    border: 0px;
    border-bottom: 1px solid #3299cc;
    width: 60%;
    margin-bottom: 20px;
    height: 25px;
    margin-left: 9%;
    margin-top: 8%;
}

.account-change-phoncode {
    border: 0px;
    border-bottom: 1px solid #3299cc;
    width: 52%;
    height: 25px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.account-change-phonehq {
    border: none;
    border-radius: 5px;
    background: #3299cc;
    color: #fff;
    height: 2vw;
}

.account-change-phoneclick {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 1%;
    background-color: #3299cc;
    border: 0px;
    color: #fff;
    margin-bottom: 20px;
}


/* 更换 */

.account-new-change {
    text-align: center;
    font-size: 20px;
}

.account-new-changeimp {
    border: 0px;
    border-bottom: 1px solid #3299cc;
    width: 60%;
    margin-bottom: 20px;
    height: 25px;
    margin-left: 20%;
    margin-top: 8%;
}

.account-new-acccode {
    border: 0px;
    border-bottom: 1px solid #3299cc;
    width: 46%;
    height: 25px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.account-new-hqcode {
    border: none;
    border-radius: 5px;
    background: #3299cc;
    color: #fff;
    height: 2vw;
}

.account-new-click {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left: 18%;
    background-color: #3299cc;
    border: 0px;
    color: #fff;
    margin-bottom: 20px;
}