.lookForm_all{
    background: none;
}
.lookForm_all_in{
    width: 60%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    border-radius: 5px;
    padding-bottom: 150px
}
/* top */
.lookForm_top {
    margin: 0 20px;
    padding: 25px 15px 10px;
}

.lookForm_top_button {
    overflow: hidden;
}
.lookForm_top_button .el-button{
    border:1px solid #666EE8;
    color: #666EE8;
}
.lookForm_top_button_left {
    float: left;
}

.lookForm_top_button_right {
    float: right;
}

.lookForm_top_content {
    padding: 10px 20px
}

.lookForm_top_content>.el-row>.el-col>p {
    font-size: 14px;
    display: inline-block;
    margin: 10px 0;
}

.lookForm_top_content>.el-row>.el-col {
    text-align: left;
}
.lookForm_top_content>.el-row>.el-col:last-child{
    text-align: right;
}


.lookForm_all hr {
    border: none;
    width: 90%;
    height: 2px;
    margin: 0 auto;
    background-color: #e0e2fa;
    margin-bottom: 15px;
}

/* center */
.lookForm_center {
    padding: 0 40px;
    margin-bottom: 30px;
}

.lookForm_center_top {
    overflow: hidden;
    margin-bottom: 30px;
}

.lookForm_center_top_left {
    float: left;
}

.lookForm_center_top_right {
    float: right;
}

.lookForm_center_top_right>p {
    font-size: 14px;
    font-weight: 400;
}

.lookForm_center_top_right>p>span {
    font-size: 11px;
}

.lookForm_center_form>table {
    width: 100%;
}

.lookForm_center_form>table>tr>th {
    background-color: #f2f2f2;
}

.lookForm_center_form>table>tr {

    font-size: 14px;
}

.lookForm_center_form>table>tr>th {
    width: 20%;
    height: 30px;
    padding: 5px 0;
    font-weight: 400;
    text-align: left;
    padding-left: 5px;
}

.lookForm_center_form>table>tr>td {
    width: 80%;
    padding: 10px 0 10px 10px;
    text-align: left;
    margin-left: 5px;
}

.lookForm_center_form>table>tr>td>li {

    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* bottom */
.lookForm_bottom {
    padding: 0 40px;
}

.lookForm_bottom_top {
    /* padding: 0 40px; */
    overflow: hidden;
    margin-bottom: 20px;
}

.lookForm_bottom_top>h6 {
    float: left;
}

.lookForm_bottom_form>table {
    width: 100%;
    font-size: 14px;
}

.lookForm_bottom_form>table>tr>th {
    font-weight: normal;
    padding: 10px;
}

.lookForm_bottom_form>table>tr>td {
    padding: 10px;
    color: #00f;
    cursor: pointer;
}