* {
    margin: 0;
    padding: 0;
}

.staffalBg {
    background-color: #fff;
    height: 85%;
    margin-left: -20px;
}

.staffheadThre {
    display: flex;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 60px;
}

.staff:hover {
    background-color: #666ee8;
}

.staff:visited {
    background-color: #666ee8;
}

.staff {
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.staffDepart:hover {
    background-color: #666ee8;
}

.staffDepart {
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffRole:hover {
    background-color: #666ee8;
}

.staffRole {
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.staffAdd {
    color: #fff;
    background: #666ee8;
    border-radius: 5px;
    position: absolute;
    left: 85%;
}

.staffAdd :hover {
    color: none;
}

.staffWidhr {
    width: 92%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 12px;
}

.staffIptsech {
    display: flex;
    margin-left: 45px;
    margin-bottom: 20px;
}

.staffBelong {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}

.staffSel {
    width: 10vw;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffNameipt {
    width: 18vw;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 4%;
}

.staffNamesch {
    font-size: 14px;
    color: #fff;
    background-color: #666ee8;
    border-radius: 5px;
}

.staffFotedit {
    width: 45px;
}

.staffFotedit span {
    margin-left: -30%;
}

.staffFotdel {
    width: 45px;
}

.staffFotdel span {
    margin-left: -30%;
}


/* 去除table多的一条线 */

.el-table::before {
    height: 0px;
}


/*  */

.staffaddalBg {
    background-color: #fff;
    height: 65%;
    margin-left: -20px;
    width: 81%;
}

.staffThre {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 60px;
}

.staffSpan {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.staffgr:hover {
    background-color: #666ee8;
}

.staffgr {
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.staffb:hover {
    background-color: #666ee8;
}

.staffb {
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffc:hover {
    background-color: #666ee8;
}

.staffc {
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.staffWidhr {
    margin-top: 15px;
    margin-bottom: 12px;
    background-color: #ccc;
    height: 1px;
    border: none;
}

.staffF {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.staffFlex {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 100px
}

.staffFlex2 {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 100px;
    margin-top: 50px;
}

.staffFlexadre {
    display: flex;
    flex-wrap: wrap;
    width: 595px;
    height: 100px
}

.staffP {
    font-size: 16px;
}

.staffa {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.staffage {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffSelage {
    width: 116px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffade {
    width: 115vw;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.stafffot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 35px;
}