.allManage {
    background: #ffffff;
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}


/* 顶部导航 */

.allManage .allManage_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

.allManage .allManage_nav .nav_list {
    list-style: none;
    font-size: 14px;
    display: flex;
    border: 1px solid #cccccc;
}

.allManage .allManage_nav .nav_list .list {
    width: 102px;
    border: 1px solid #cccccc;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #cccccc;
}

.allManage .allManage_nav .nav_list .bgColor:first-child {
    background-color: #666EE8;
    color: #ffffff;
    border-color: #666EE8;
}

.allManage .allManage_nav .nav_list .bgColor {
    background-color: #666EE8;
    color: #ffffff !important;
    border-color: #666EE8;
}

.allManage .allManage_nav i {
    width: 110px;
    height: 36px;
    background-color: #666EE8;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
    border-radius: 5px;
    cursor: pointer;
}

.allManage .allManage_nav i span {
    padding-left: 10px;
}


/* 内容 */

.allManage>.allManage_cont {
    display: flex;
}


/* 侧边导航 */

.allManage>.allManage_cont .left {
    margin-right: 49px;
}

.allManage>.allManage_cont .left .side_nav .side_nav_list {
    list-style: none;
    font-size: 14px;
    color: #333333;
    width: 180px;
    height: 44px;
    border: 1px solid #f0f1fd;
    line-height: 44px;
}

.allManage .allManage_cont .left .side_nav .side_nav_list:hover {
    color: #ffffff;
    background-color: #666EE8;
}


/* 右边内容 */


/* 搜索 */

.allManage .allManage_cont .right .search {
    width: 367px;
    height: 36px;
    margin-bottom: 25px;
    margin-left: 0;
}

.allManage .allManage_cont .right .search .el-input-group__append {
    background-color: #666EE8;
    border-color: #666EE8;
    color: #ffffff;
}


/* 表格 */

.allManage .allManage_cont .right {
    width: 985px;
    text-align: left;
}

.allManage .allManage_cont .right .right_con .el-table__header-wrapper .el-table__header .has-gutter tr th {
    background-color: #666EE866;
    color: #333333;
    text-align: center;
}

.allManage .allManage_cont .right .right_con .el-table__body-wrapper .el-table__body .el-table__row td {
    text-align: center;
}


/* 分页 */

.allManage .block {
    margin-top: 105px;
    padding-bottom: 117px;
    text-align: right;
}


/* 新增 */

.allManage .newly {
    text-align: left;
}