.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

.Complaints-header>span {
  padding-left: 5px;
  /* margin-left: 5px; */
  color: #000;
  border-left: 5px solid #666ee8;
  font-size: 1em;

}

.Complaints-header {
  text-align: left;
  padding: 30px 0;
  width: 96%;
  margin-left: 2%;
  border-bottom: 2px solid#f2f2f2;

}

.Complaints-header .addcomplaint {
  position: absolute;
  right: 170px;
  background: #666ee8;
  border: 3px solid #666ee8;

}

.Complaints-header .exportcomplaint {
  border: 1px solid #666ee8;
  position: absolute;
  right: 50px;
  color: #666ee8;
}

.Complaints-screen {
  position: relative;
  margin-top: 15px;
}

.Complaints-screen .el-form .el-form-item {
  width: 18%;
  float: left;
}

.Complaints-screen .el-form {
  width: 100%;
}

.Complaints-screen .search {
  position: absolute;
  margin-left: 30px;
  background: #666ee8;
  border: 1px solid #666ee8;
}

.Complaints-footer {
  margin: 50px 0;
  text-align: right;
  margin-right: 30px;
}
.Complaints-screen{

}