body{
  position: relative;
}
.conserve{
  position: fixed;
  bottom: 0px;
  text-align: right;
  background-color: rgb(255, 255, 255);
  padding: 30px 0 0 0px;
  width: 77%;
  z-index: 99;
  box-shadow: 2px 0 10px 0px rgba(134, 134, 134, 0.445);
}
.conserve button{
  margin-right: 3%;
  width: 8%;

}
.conserve .return .el-icon-hospital-passwordai207{
  background: none;
  color: #6f77e9;
  border: none;
}
.conserve .keep .el-icon-hospital-passwordbaocun{
  background: none;
color: #FFF;
}
.conserve  .keep{
  background-color: #666ee8;
  color: #000;
  border: 1px solid #666ee8;
}
.conserve .keep span{
  background-color: #666ee8;
  color: rgb(255, 255, 255);
  border: none;
}
.conserve .return{
  background-color: #FFF;
  border: 1px solid #949aef;
  color: #6f77e9;
}
.conserve .return span{
  background-color: #FFF;
  color: #6f77e9;
}
.addcom .el-button {
  /* border: none; */
}
