.look {
    position: relative;
    margin: 0px auto;
}
.clearfix:after{
    content: "020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
    }
  
  .clearfix {
    /* 触发 hasLayout */ 
    zoom: 1; 
    }
/* 置顶标题 */
.look .look-top {
  position: fixed;
    color: #333333;
    padding: 30px 20px;
    text-align: left;
    width: 78.6%;
    background-color: #ffffff;
    height: 50px;
    z-index: 9;

}

.look .look-top > span {
    border-left: 6px solid #666ee8;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    padding-left: 10px;
}

.look .look-top div {
    position: relative;
}

.look .look-top div .printing {
    right: 120px;
    top: -45px;
    position: absolute;
    background: none;
    color: #6f77e9;
    border: 1px solid #949aef;
    font-weight: 900;
}

.look .look-top div .printing span {
    font-size: 14px;
    background-color: none;
    color: #6f77e9;
    font-weight: 900;
}

.look .look-top div .return {
    top: 0;
    right: 10px;
    top: -45px;
    position: absolute;
    background-color: none;
    border: 1px solid #949aef;
    color: #6f77e9;
    font-weight: 900;
    background: none;
}

.look .look-top div .return span {
    font-size: 14px;
    background-color: none;
    color: #6f77e9;
}

/* 打印内容 */
.look .look-content {
text-align: center;
    padding-top: 6%;
    margin-bottom: 80px;
}

/* 打印内容标题 */
.look .look-content .look-content-title {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 900;
}

/*打印内容头部内容  */
.look .look-content .look-content-top {
    font-size: 16px;
    padding-bottom: 20px;
}

.look .look-content hr {
    border: none;
    border-bottom: 2px solid #e0e2fa;
    width: 76.7%;
    margin-left: 10.8%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.look .look-content .look-content-top .row-bg .grid-content>span {
    display: flex;
    line-height: 40px;
}

.look .look-content .look-content-top .row-bg .grid-content>span>span {
    display: flex;
    width: 50%;
}
/* 审批节点 */
.look .look-content .look-content-box .box-Information .file {
    text-align: center;
    font-size: 12px;
    background: #ffffff;
    /* float: left; */
    /* flex-wrap:wrap ; */
    /* border-top: 1px solid #797979; */
    /* border-right: 1px solid #797979; */
    /* border-left: 1px solid #797979; */
}

.look .look-content .look-content-box .box-Information .file .filename {
    background: #f2f2f2;
    width: 14.3%;
    padding-left:2.21%;
    float: left;


    font-size: 14px;
    border: 1px solid #797979;
    line-height: 30px;
    border-top: none;
    border-left: none;
    text-align: left;
    
   
}

.look .look-content .look-content-box .box-Information .file .filedetaile {
    color: #949aef;
    /* padding-left: 30px; */
    width: 14.3%;
    padding-left:2.27%;
     float: left;
     font-size: 14px;
     border: 1px solid #797979;
     line-height: 30px;
     border-top: none;
     border-left: none;
     text-align: left;
}

/* 投诉内容块 */
/* 投诉科室 */
.look .look-content .look-content-box {

    text-align: center;
}

.look .look-content .look-content-box .box-top span {
    font-size: 16px;
    /* margin-left: 10px; */

}

.look .look-content .look-content-box .box-top {
    /* font-size: 14px; */
    margin-bottom: 10px;
}

.look .look-content .look-content-box .box-content {

    margin: 0px 12.5% 0 10.8%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.look .look-content .look-content-box .box-content span {

    font-size: 14px;
    display: flex;
    border: 1px solid #797979;
    line-height: 30px;


}

.look .look-content .look-content-box .box-content .label {
    line-height: 30px;

    border-right: none;
    background: #f2f2f2;
}

/* 调查科室分步 */

.look .look-content .look-content-box .box-content-child {
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    background: #f2f2f2;
    margin: 0px 12.5% 0 10.8%;
    border-left: 1px solid #797979;

}

.look .look-content .look-content-box .box-content-child .grid-content span {
    font-size: 14px;
    display: flex;
    border: 1px solid #797979;
    line-height: 30px;
    border-bottom: none;
    border-left: none;
    text-align: left;

}

.look .look-content .look-content-box .box-content-child {
    margin-top: 20px;
}


.look .look-content .look-content-box .box-content-child .label {

    line-height: 30px;
    height: 100%;
    border-right: none;
    background: #f2f2f2;
    padding-left: 20px;

}

.look .look-content .look-content-box .box-content-child .value {

    line-height: 30px;
    height: 100%;
    background: #ffffff;
    padding-left: 20px;
    border-left: 1px solid #797979;

}

.look .look-content .look-content-box .box-content-child .file {
    text-align: center;
    font-size: 12px;
    background: #ffffff;
    /* float: left; */
    /* flex-wrap:wrap ; */
    /* border-top: 1px solid #797979; */
    /* border-right: 1px solid #797979; */
    /* border-left: 1px solid #797979; */
}

.look .look-content .look-content-box .box-content-child .file .filename {
    background: #f2f2f2;
    width: 14.3%;
    padding-left:2.21%;
    float: left;


    font-size: 14px;
    border: 1px solid #797979;
    line-height: 30px;
    border-top: none;
    border-left: none;
    text-align: left;
    
   
}

.look .look-content .look-content-box .box-content-child .file .filedetaile {
    color: #949aef;
    /* padding-left: 30px; */
    width: 14.3%;
    padding-left:2.27%;
     float: left;
     font-size: 14px;
     border: 1px solid #797979;
     line-height: 30px;
     border-top: none;
     border-left: none;
     text-align: left;
}

/* 投诉人信息 */
.look .look-content .look-content-box .box-Information {
    /* margin: 0px 12.5% 0 10.8%; */
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.look .look-content .look-content-box .box-Information > .box-content {
    border-left: 1px solid #797979;
   
}
.look .look-content .look-content-box .box-Information > .box-content .label{
    border-left: none;
    line-height: 30px;
    border-bottom: none;
    padding-left: 10px;

}
.look .look-content .look-content-box .box-Information > .box-content .value{
    line-height: 30px;
    border-bottom: none;
    padding-left: 10px;
}