* {
    margin: 0;
    padding: 0;
}

.H-edit{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 820px;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 1px 0 10px rgb(204, 204, 204);
    text-align: left;
}
.H-edit .edit-top {
   text-align: right;
   margin: 20px;
   margin-top: 0;
}
.H-edit .edit-top button{
    background-color: #949aef;
    border: none;
}

.H-edit .content{
    border: 1px solid #e0e0e0;
    width: 95%;
    margin: 0 auto;
}
.H-edit .content .title{
    border-bottom: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    padding-left: 10px;
}
.H-edit .content .power{
    padding-left: 10px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    min-height: 40px;
    line-height: 40px;
}
.H-edit .content .power:last-child{
    border-bottom: none;
}
.H-edit .content .power .tit{
    padding-right: 10px;
    text-align: right;
    border-right: 1px solid #e0e0e0;
    width: 200px;
}
.H-edit .content .power .el-checkbox-group{
    padding-left: 20px;
}

